html, body, #body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0.2rem 0;
}

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  display: block;
}

#buttons {
  display: inline-block;
}

button {
  font-size: 10rem;
}

#punch {
  margin-right: 0.5rem;
}
